{% extends "home.html" %}

{% block title %} Luis Corral {% endblock title %}
{% block content %}
{% if user.username %}

    <header>
        <div class="header-container">

            <div class="header-inner">

                <a href="#" class="close-btn">
                    <span class="close"></span>
                </a>
                {% load static from staticfiles %}
                <a href="index-2.html" class="logo-container">
                    <img src="{% static 'img/logo.png' %}" alt="" >
                </a>

                <nav>
                    <ul>
                        <li>
                            <a href="index-2.html" class="active">HOME</a>
                        </li>
                        <li>
                            <a href="#">
                                GALLERY
                                <span class="arrow-down icon1-angle-down"></span>
                            </a>
                            <ul>
                                <li><a href="gallery-albums.html">ALBUMS</a></li>
                                <li><a href="gallery-grid.html">GRID</a></li>
                                <li><a href="gallery-masonry.html">MASONRY</a></li>
                                <li><a href="gallery-slideshow.html">SLIDESHOW</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                PORTFOLIO
                                <span class="arrow-down icon1-angle-down"></span>
                            </a>
                            <ul>
                                <li><a href="portfolio-grid.html">GRID</a></li>
                                <li><a href="portfolio-masonry.html">MASONRY</a></li>
                                <li><a href="portfolio-striped.html">STRIPED</a></li>
                                <li><a href="portfolio-single.html">SINGLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="page-about.html">ABOUT</a>
                        </li>
                        <li>
                            <a href="#">
                                BLOG
                                <span class="arrow-down icon1-angle-down"></span>
                            </a>
                            <ul>
                                <li><a href="blog-fullwidth.html">FULLWIDTH</a></li>
                                <li><a href="blog-left-sidebar.html">LEFT SIDEBAR</a></li>
                                <li><a href="blog-right-sidebar.html">RIGHT SIDEBAR</a></li>
                                <li><a href="blog-single-fullwidth.html">SINGLE FULLWIDTH</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="page-elements.html">ELEMENTS</a>
                        </li>
                        <li>
                            <a href="page-contact.html">CONTACT</a>
                        </li>
                    </ul>
                </nav>

                <div class="social-icons clearfix">
                    <a href="#" class="icon3-facebook"></a>
                    <a href="#" class="icon1-twitter"></a>
                    <a href="#" class="icon3-instagram"></a>
                </div>

                <p class="copyrights">COPYRIGHT © CELINE</p>

            </div>

        </div>
    </header>

    <div class="header-bar active">

        <a href="#" class="menu-nav">
            <span></span>
        </a>

        <div class="filter-mini gallery-masonry-filter">

            <a href="#" class="filter"><img src="{% static 'img/filter.png' %}" alt=""></a>

            <div class="categories">

                <a href="#" data-filter="" class="cat-all active">All</a>
                <a href="#" data-filter="cat-fashion">Fashion</a>
                <a href="#" data-filter="cat-portraits">Portraits</a>
                <a href="#" data-filter="cat-street">Street</a>

            </div>

        </div>

        <a href="index-2.html" class="logo-mini"><img src="{% static 'img/logo-mini.png' %}" alt=""></a>

        <a href="index-2.html" class="logo-mobile"><img src="{% static 'img/logo-mobile.png' %}" alt=""></a>

        <div class="share-mini">

            <a href="#" class="show icon3-share"></a>

            <div class="icons">

                <a href="#" class="icon3-facebook"></a>
                <a href="#" class="icon1-twitter"></a>
                <a href="#" class="icon3-instagram"></a>

            </div>

        </div>

    </div>
    <!-- End Header -->


    <div class="gallery-masonry-h with-cover rows-3 clearfix">

        <div class="container">

            <div class="inner-container">

                <div class="cat-wrapper" id="cat-fashion">

                    <!-- <div class="header animated" style="background-image:url(img/Gallery/fashion1.png)" data-animation="fadeIn" data-animation-delay="0">
                        <div class="overlay"></div>
                        <div class="title">
                            <p>F<br/>A<br/>S<br/>H<br/>I<br/>O<br/>N</p>
                        </div>
                    </div> -->

                    <div class="images">

                        {% for photography in photographys %}
                            <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="200">
                                <img src="{{ photography.image.url }}" alt="">
                                <!-- <a href="{% static 'img/Full_sizes/img1.jpg' %}" class="overlay"></a> -->
                                <a href="#" class="icon1-heart-empty"></a>
                                <a href="#" class="icon1-heart"></a>
                                <p class="love">47</p>
                            </div>
                        {% endfor %}
                        <!-- <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="200">
                            <img src="{% static 'img/Gallery/fashion6.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img9.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="200">
                            <img src="{% static 'img/Gallery/fashion10.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img4.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="300">
                            <img src="{% static 'img/Gallery/fashion7.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img12.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="300">
                            <img src="{% static 'img/Gallery/fashion3.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img5.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="300">
                            <img src="{% static 'img/Gallery/fashion11.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img10.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
                            <img src="{% static 'img/Gallery/fashion8.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img11.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
                            <img src="{% static 'img/Gallery/fashion4.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img3.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="400">
                            <img src="{% static 'img/Gallery/fashion12.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img2.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated wide" data-animation="fadeIn" data-animation-delay="500">
                            <img src="{% static 'img/Gallery/fashion9.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img8.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated regular" data-animation="fadeIn" data-animation-delay="500">
                            <img src="{% static 'img/Gallery/fashion5.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img7.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div>
                        <div class="gallery-item animated small" data-animation="fadeIn" data-animation-delay="500">
                            <img src="{% static 'img/Gallery/fashion13.png' %}" alt="">
                            <a href="{% static 'img/Full_sizes/img6.jpg' %}" class="overlay"></a>
                            <a href="#" class="icon1-heart-empty"></a>
                            <a href="#" class="icon1-heart"></a>
                            <p class="love">47</p>
                        </div> -->

                    </div>
                </div>

            <!-- Aqui abajo va lo del delte.html -->
            </div>

        </div>

    </div>
{% else %}

{% endif %}

{% endblock content %}
